@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.8vh;
  background: linear-gradient(201deg, #000000, #ff2600,  #000000);
  background-size: 300% 300%;
  transition: background-position 1s ease;
  border-top: 2px solid #000000;
}

.background-container:hover {
  background-position: 100% 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  color: #ff2600;
  text-align: center;
  animation: fadeIn 1s ease-out;
  border: 3px solid #000000;
}

.login-input {
  width: 92%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ff2600;
  border-radius: 5px;
  color: #333;
  background-color: #f0f0f0;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

.login-input::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: -4px;
  bottom: -4px;
  background-color: #ff2600;
  z-index: -1;
  border-radius: 5px;
}

.login-input:focus {
  border-color: #000000;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff2600;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  display: flex; /* Añade esta línea */
  justify-content: center; /* Añade esta línea */
  align-items: center; /* Añade esta línea */
}

.login-button::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: -4px;
  bottom: -4px;
  background-color: #cc9900;
  z-index: -1;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #000000;
}

.login-error {
  color: red;
  margin-top: 10px;
}

.toggle-signup {
  color: #333;
  margin-top: 5vh;
}

.toggle-signup button {
  margin-top: 2vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
